.soccer {
  margin: 30px;
  width: 45%;
  text-align: center;
  display: inline-block;
}

.soccerImage {
  width: 100%;
  height: auto;
}

.soccerBody {
  text-align: justify;
  font-style: italic;
}

.readMore {
  text-decoration: underline;
}

.france {
  width: 60px;
  height: 60px;
  background-color: #fede58;
  display: inline-block;
}

.brazil {
  width: 60px;
  height: 80px;
  background-color: #67c486;
  display: inline-block;
}

.portugal {
  width: 60px;
  height: 40px;
  background-color: #fd5758;
  display: inline-block;
}
