.article {
  margin: 30px;
  width: 45%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.articleRight {
  margin: 30px;
  width: 45%;
  text-align: center;
  vertical-align: top;
  float: right;
}

.image {
  width: 100%;
  height: auto;
}

.halfImage {
  width: 50%;
  height: auto;
}

.preview {
  text-align: justify;
  font-style: italic;
}

.body {
  text-align: justify;
}

.readMore {
  text-decoration: underline;
}

/* #fede58;
 #67c486;
 #fd5757; */
