.topBar {
  height: 4px;
  width: 80%;
  margin: 30px auto 10px;
  border-radius: 3px;
  background-color: black;
}

.header {
  font-size: 48px;
  text-align: center;
}

.by {
  padding-bottom: 10px;
  text-align: center;
}

.bottomBar {
  height: 4px;
  width: 80%;
  background-color: black;
  margin: 10px auto;
}
